/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*---------FONTS & COLORS---------------*/


//Google Fonts
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i|Open+Sans:300,400,400i|Raleway:300,400,600|Source+Sans+Pro:400,600';
//Caturrita
@import url("//hello.myfonts.net/count/2fd6f8");



//Font Variables
$sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$accent-font: 'CaturritaDisplayMedium-Medium';

em{
  font-style: italic;
}
strong{
  font-weight: bold;
}

//Icon Font
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?19569027');
  src: url('../fonts/fontello/font/fontello.eot?19569027#iefix') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff2?19569027') format('woff2'),
       url('../fonts/fontello/font/fontello.woff?19569027') format('woff'),
       url('../fonts/fontello/font/fontello.ttf?19569027') format('truetype'),
       url('../fonts/fontello/font/fontello.svg?19569027#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19569027#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */


$brand: #4eb3b3;
$brand-light: #92cfbe;
$brand-purple: #6e58b9;
$white: #ffffff;
$dark-gray-text: #333333;
$light-gray-text: #656565;
$gray-background: #e0e0e0;


/*------------General Styles---------------- */

html{
  font-size: 16px;
  }

body {
  background: white;
  color: $light-gray-text;
  font-family: $lato;
  font-size: 16px;
  font-size: 1rem;

}

h1{
  font-size:32px;
  font-size: 2rem;
  color: $brand;
  font-family: $accent-font;
  text-align: center;
}
h2{
  font-size:20px;
  font-size: 1.25rem;
  font-family: $raleway;
  font-weight: 600;
}
h3{
  font-size:18px;
  font-size: 1.125rem;
  font-family: $raleway;
}
h4{
  font-size:16px;
  font-size: 1rem;
}
p{
  font-size:14px;
  font-size: 0.875rem;
}
a{
  font-size:18px;
  font-size: 1.125rem;

  &:hover{
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

img{
  width: 100%;
  height: auto;
}

//inset shadows
.top-shadow{
  -webkit-box-shadow: inset 0px 5px 4px 0px rgba(8,8,8,0.1);
  -moz-box-shadow: inset 0px 5px 4px 0px rgba(8,8,8,0.1);
  box-shadow: inset 0px 5px 4px 0px rgba(8,8,8,0.1);
}
.bottom-shadow{
  -webkit-box-shadow: inset 0px -5px 4px 0px rgba(8,8,8,.1);
  -moz-box-shadow: inset 0px -5px 4px 0px rgba(8,8,8,.1);
  box-shadow: inset 0px -5px 4px 0px rgba(8,8,8,.1);
}

//outer shadows
.outer-shadow{
  -webkit-box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.1);
  -moz-box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.1);
}

.outer-shadow-dark{
  -webkit-box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.2);
  -moz-box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.2);
  box-shadow: 0px 5px 4px 0px rgba(8, 8, 8, 0.2);
}



.grad1 {
  background: #4eb3b3;
  /* For browsers that do not support gradients */
  
  background: -webkit-linear-gradient(45deg, $brand-light, $brand);
  /* For Safari 5.1 to 6.0 */
  
  background: -o-linear-gradient(45deg, $brand-light, $brand);
  /* For Opera 11.1 to 12.0 */
  
  background: -moz-linear-gradient(45deg, $brand-light, $brand);
  /* For Firefox 3.6 to 15 */
  
  background: linear-gradient(45deg, $brand-light, $brand);
  /* Standard syntax (must be last) */
}



/*------------HELPER STYLES---------------- */


//.hidden {
//    display: none !important;
//    visibility: hidden;
//}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a.white-btn{
    text-decoration: none;
    border-radius: 5px;
    color:$white;
    border: 1px solid $white;
    padding: 0.5rem 1rem;
  
}

.dark-btn{
    text-decoration: none;
    border-radius: 5px;
    color:$dark-gray-text;
    border: 1px solid $dark-gray-text;
    padding: 0.5rem 1rem;
}


/*--------------GRID & CONTAINERS---------------*/

#page-container{
  width: 100%;
}


/*--------------HEADER---------------*/

//ALT HEADER STYLES

header {
  position: relative;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 11;
  transition: transform .5s;

  #logo img{
    max-width: 48px;
    max-width: 3rem;
    margin: 0.5rem;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    transform-style: preserve-3d;
}
  .hidden {
    display: none;
  }
  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background-image: linear-gradient(-20deg, $brand-light 0%, $brand 100%);
    width: 100%;
    height: 0px;
    transition: height .25s, left 1s
  }
  nav.open {
    height: calc(90vh - 60px);
    transition-delay: .1s
  }
  nav.hide {
    right: -60px
  }
  #hamburger {
    position: absolute;
    top: -60px;
    right: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .25s;
    transition-delay: .25s
  }
  #hamburger span,
  #hamburger span::after,
  #hamburger span::before {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 29px;
    right: 15px;
    background: $brand;
    border-radius: 0px;
    transition: all .25s;
  }
  #hamburger span::after, {
    content: '';
    top: -7px;
    right: 0px;
  }
  #hamburger span::before {
    content: '';
    top: 7px;
    right: 0px;
  }
  #hamburger::before {
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:0;
    background: $brand;
    transition: all .1s ease-in;
    transition-delay: .25s;
  }
  nav.open #hamburger {
    transition-delay: 0s
  }
  nav.open #hamburger::before {
    transition-delay: 0s;
    height:100%;
  }
  nav.open #hamburger span::after {
    top: 0;
    background: #fff;
    transform: rotate(45deg);
  }
  nav.open #hamburger span::before {
    top: 0;
    background: #fff;
    transform: rotate(-45deg);
  }
  #menu {
    position: relative;
    overflow: hidden;
    top: -10px;
    height: 0;
    transition: all .25s;
  }
  nav.open #menu {
    top: 0;
    height: 100%;
    transition-delay: .25s;
  }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu li {
    transition: all .25s
  }
  #menu #primary-nav li {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    color: #fff;
    font-family: 'Catamaran';
    font-weight: 100;
  }
  #menu #primary-nav li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1)
  }
  #menu #primary-nav li:hover {
    background: rgba(255, 255, 255, 0.1)
  }
  #menu #primary-nav a {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    color:inherit;
    text-decoration:none;
    padding: 0 30px;
  }
  nav.open #menu #primary-nav li {
    height: 60px;
    line-height: 60px;
    transition-delay: .25s;
  }

  #maintitle {
    height:60px;
    line-height:60px;
    position:relative;
    margin:0 120px 0 60px;
    text-align:center;
    width:calc(100% - 180px);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size:20px;
    color: #e0e0e0;
  }
  #search-bar {
    position: absolute;
    top: 0;
    right: 60px;
    height: 60px;
    width: 60px;
    transition: all .5s;
    overflow: hidden;
  }
  #search-bar.active {
    width: 100%;
    right: 0;
  }
  #search-input {
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: calc(100% - 125px);
    line-height: 40px;
    padding: 0 40px 0 10px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 60px;
    color:#424242;
    font-size:16px;
    font-family:'Catamaran';
    background: #f0f0f0;
  }
  #search-btn {
    border: 0;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    background: none;
    right: 0;
    top: 0;
    &:before {
      content: '';
      position: absolute;
      top: 17px;
      left: 17px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $brand-purple;
      transition: all .25s
    }
    &:after {
      content: '';
      position: absolute;
      top: 37px;
      left: 30px;
      background: $brand-purple;
      border-radius: 1px;
      width: 14px;
      height: 2px;
      transform: rotate(45deg);
    }
    .loading::before {
      width: 26px;
      height: 26px;
      border-width: 5px;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: rotate 2s linear infinite;
    }
    .loading::after {
      display: none;
    }
  }

  #close-search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 70px;
    cursor: pointer;
    &:before,
    &:after {
      width: 18px;
      height: 2px;
      background: #999;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-9px, -1px) rotate(45deg);
    }
    &:after {
      transform: translate(-9px, -1px) rotate(-45deg);
  }
  }
  
  
  #search-bar.loading #close-search {
    display: none
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
}



/*-------------FOOTER---------------*/

footer{
  text-align: center;
  #footer-badges{
    margin-bottom: 5%;
  }
  .social-container{

    margin-bottom: 2%;
    li{
      display:inline;
      margin: 0 auto;
    }
    img{
      width:16%;
      padding: 1%;
      max-width: 50px;
    }
  }
  .secure-badges{
    img{
      max-width: 300px;
    }
  }
  
  #footer-menu{
    background-color: $gray-background;
    li{
      line-height: 1.8;
    }
    a{
      text-decoration: none;
      color: $dark-gray-text;
    }
  }
  
  #copyright{
    img{
      width: 20%;
      max-width: 50px;
      margin-top: 1rem;
    }
    p{
      margin: 1rem;
      font-size:12px;
      font-size: 0.75rem;
    }
  }
  
}


/*---------------------------------------*/

/*-------------HOME PAGE---------------*/

/*---------------------------------------*/


/*---------MAIN---------------*/



/*---------HERO---------------*/
#hero{
  background-image: url(../img/header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width:100%;
  min-height: 300px;
  .icon-check:before{
    font-size: 1.5rem;
    margin-right: 5%;
  }
}

.hero-text{
  text-align: center;
  line-height: 1.5;
}

/*-----------VAGINISMUS BANNER-------------*/

.vaginismus-banner{
  background-color: $brand;
  text-align: center;
  color: $white;
  font-size: 1rem;
  height: 5rem;
  h3{
    padding: 1rem;
  }
  a{
    margin:1rem;
    padding: 0.25rem 1rem;
  }
}


/*-----------PRODUCTS SECTION-------------*/

#products{
  text-align: center; 
  img{
    max-width: 80%;
    margin: 0 auto;
  }
  h3{

    max-width: 400px;
    margin: 0 auto;
  }
  
  a{
    text-decoration: none;
    color: $dark-gray-text;
    margin: 0 auto;
    font-family: $raleway;

  }
  .product-1, .product-2, .product-3{
    margin: 5% 3% 10%;
  }
}



/*-----------WHAT IS SECTION-------------*/
#what-is-vaginismus{
  text-align: center;
  color: $white;
  h2{
    margin: 7% 0 0;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3{
    font-weight: 600;
    font-size: 20px;
    font-size: 1.25rem;
  }
  .blurb{
    padding: 10% 0;
  }
  img{
    width: 30%;
    max-width: 5rem;
  }
  p{
    margin: 3% 0;
//    text-align: justify;
  }
  a{
    color: $white;
  }

}


/*-----------HIGHLIGHTED CONTENT SECTION-------------*/
#highlighted-content{
  text-align: center;
  padding: 10% 0;
  
  h2{
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  h3{
    padding: 2% 0;
  }
   
  .purple-hr{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(110,88,185, 0.75), rgba(0, 0, 0, 0));
    margin: 10% 0;
  }
}

.highlighted-content-1{
  a{
    margin:1% auto;
    padding: 4%;
    display: inline-block;
    width: 30%;
  }
}

.highlighted-content-2, .highlighted-content-3, .highlighted-content-4{
  a{
    margin-top: 10%;
    padding: 2% 12%;
  }
  img{
    padding-bottom: 10%;
  }
}



/*-----------REVIEWS SECTION-------------*/

#reviews{
  background: url(../img/White-Wood-bkgd.jpg);
  background-size: cover;
  text-align: center;
  h2{
    padding: 5% 0;
  }
  
  .testimonial{
    background:white;
    position: relative;
    margin: 10% auto;
    p{
      line-height: 1.2;
    }
  }
  
  .testimonial-text{
    padding: 10% 5%;
  }

  .quotes{
    position: absolute;
    top: -15px;
    left: 45%;
    z-index: 999;
    width: 32px;
  }
  .product-section{
    margin-bottom:5%;
  }

}

/*-----------REVIEWS BANNER-------------*/

.reviews-banner{
  text-align: center;
  color: $white;
  height: 5rem;
  a{
  line-height: 5rem;
  }
}

/*-----------COMMON LINKS SECTION-------------*/

#common-links{
  text-align: center;
  .common-links-1, .common-links-2, .common-links-3, .common-links-4{
    padding: 10% 5%;
  }
  h4{
    padding-bottom: 5%;
  }
  ul{
    text-align:left;
    list-style-type:disc; 
  }
  a{
    color:$brand;
    text-decoration: none;
    line-height: 1.5;
  }
}



/*------HEADER TEST-------*/

//#top-header, #top-header a {
//    color: #0a0a0a;
//}
//#top-header {
//    background-color: #f7f7f7;
//    padding-top: -10px;
//  line-height: 1.6em !important;
//}
//#top-header, #top-header a, #et-secondary-nav li li a, #top-header .et-social-icon a::before {
//    font-size: 13px;
//}
//#top-header, #et-secondary-nav li ul {
//    background-color: #fcfcfc;
//}#top-header, #et-secondary-nav {
//    -webkit-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//    -moz-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//    transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//}
//#top-header, #et-secondary-nav {
//    -webkit-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//    -moz-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//    transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
//}
//#top-header {
//    z-index: 100000;
//    line-height: 1.3;
//}
//#top-header {
//    z-index: 100000;
//    line-height: 1.3;
//}
//#top-header, #top-header .container, #top-header #et-info, #top-header .et-social-icon a {
//    line-height: 1em;
//}
//#top-header .container {
//    padding-top: .5em !important;
//  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
//}
//.container{
//  max-width: 1273px;
//  transition: none;
//  position: relative;
//  text-align: left;
//  width: 80%;
//  margin: auto;
//  padding: 0;
//  border: 0;
//  outline: 0;
//  background: transparent;
//  font-size: 100%;
//  vertical-align: baseline;
//  box-sizing: border-box;
//}
//
//#et-info-phone::before{
//  font-family: "ETmodules" !important;
//  font-weight: normal;
//  font-style: normal;
//  font-variant: normal;
//  line-height: 1.0;
//  text-transform: none;
//  position: relative;
//  margin-right: 2px;
//  content: "\e090";
//}
//#et-info {
//    float: right !important;
//    padding-left: 30px !important;
//}
//#et-info, #et-secondary-menu > ul > li a {
//    padding-bottom: 0.75em;
//}
//
//.menu a, .et_pb_button, .noline a, .bottom-nav a, #top-header a {
//    text-decoration: none;
//}
//#et-secondary-menu {
//  margin-top: -1em;
//  float: right;
//  position: relative;
//  top: -10px;
//}
//
//.clearfix::after {
//    display: block;
//    visibility: hidden;
//    clear: both;
//    height: 0;
//    font-size: 0;
//    content: " ";
//}
//#et-secondary-nav li {
//    position: relative;
//    text-align: left !important;
//  margin-right: 17px !important;
//}
//#et-secondary-nav, #et-secondary-nav li {
//    display: inline-block;
//}
//#et-secondary-menu > ul > li a {
//    padding-bottom: .2em;
//    display: block;
//}
//#et-secondary-menu li {
//    padding-top: 0px !important;
//    padding-bottom: 0px iImportant;
//}
//#et-secondary-nav li, #et-secondary-nav li li a {
//    font-size: 13px;
//    font-size: 0.8125rem;
//    font-family: "Open Sans", Arial, sans-serif;
//}
//#et-secondary-nav, #et-secondary-nav li {
//    display: inline-block;
//}
//#et-secondary-menu li, #top-menu li {
//    word-wrap: break-word;
//}
//.page-id-2995 li {
//    color: #2d2d2d;
//    font-family: "Open Sans", Arial, sans-serif;
//    font-style: normal;
//    font-weight: 400;
//    line-height: 1.3;
//}
//#et-secondary-menu > ul > li a {
//    padding-bottom: .01em;
//    display: block;
//}
//#et-secondary-nav a {
//    -webkit-transition: background-color 0.4s, color 0.4s ease-in-out;
//    -moz-transition: background-color 0.4s, color 0.4s ease-in-out;
//    transition: background-color 0.4s, color 0.4s ease-in-out;
//}
//#et-secondary-nav li:nth-child(5) a {
//    cursor: default;
//}
//
//#et-secondary-nav li ul {
//    position: absolute;
//    right: 0 !important;
//    left: 0;
//    padding: 1rem 0;
//}
//
//#et-secondary-nav li > ul {
//    width: 170px;
//}
//
//#et-secondary-nav li ul, #et-secondary-nav li ul li {
//    background-color: #f7f7f7;
//}
//#et-secondary-nav li ul {
//    padding-top: 0px !important;
//}
//#et-secondary-nav li ul {
//    visibility: hidden;
//    z-index: 999999;
//    opacity: 0;
//    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//}
//#et-secondary-nav li ul li {
//    display: block;
//}
//
//#et-secondary-nav li li {
//    padding: 0rem .5rem;
//    margin: 0;
//}
//
//#et-secondary-nav li {
//    position: relative;
//    text-align: left !important;
//}
//#et-secondary-nav li {
//    margin-right: 17px !important;
//  font-size: 0.8125rem;
//font-family: "Open Sans", Arial, sans-serif;
//}
//#et-secondary-nav li ul a {
//    color: #595959;
//}
//#et-secondary-nav li li a {
//    display: block;
//    width: 100%;
//    margin-right: 0;
//    padding: 1rem;
//
//    line-height: 1.0;
//    -webkit-transition: all 0.2s ease-in-out;
//    -moz-transition: all 0.2s ease-in-out;
//    transition: all 0.2s ease-in-out;
//}
//#et-secondary-nav li ul {
//    background-color: #fff;
//}
//.sub-menu .menu-image-title {
//    position: relative;
//    left: 8px;
//    top: -7px;
//}
//.menu-image{
//  width:24px;
//  height: 24px;
//}
//
//#main-header {
//  line-height: 23px;
//  font-weight: 500;
//  top: 0;
//  background-color: #fff;
//  width: 100%;
//  box-shadow: none !important;
//  -moz-box-shadow: none !important;
//  -webkit-box-shadow: none !important;
//  position: relative;
//  z-index: 99999;
//}
//.container.et_menu_container {
//    z-index: 99;
//}
//header{
//  display: block;
//}
//
//img#logo {
//    position: absolute;
//    max-height: 54%;
//}
//#logo {
//    display: inline-block;
//    float: none;
//    max-height: 54%;
//    margin-bottom: 0;
//    vertical-align: middle;
//}
//span.logo_helper {
//    display: inline-block;
//    width: 0;
//    height: 100%;
//    vertical-align: middle;
//}
//et_top_navigation{
//  padding-left: 203px;
//}
//
//#et-top-navigation {
//  float: right;
//  padding-left: 184px;
//}
//
//nav#top-menu-nav, #top-menu, nav.fullwidth-menu-nav, .fullwidth-menu {
//    float: left;
//}
//#top-menu-nav, #top-menu {
//    line-height: 0.0;
//}
//#top-menu li {
//    padding-right: 18px;
//    display: inline-block;
//    font-size: 14px;
//    font-size: 0.875rem;
//}
//#top-menu a {
//    display: block;
//    position: relative;
//    color: rgba(0, 0, 0, 0.6);
//    text-decoration: none;
//    -webkit-transition: all 0.4s ease-in-out;
//    -moz-transition: all 0.4s ease-in-out;
//    transition: all 0.4s ease-in-out;
//}
//#top-menu > li:last-child {
//    padding-right: 0;
//}
//#et_top_search {
//    float: left;
//    margin: 0 35px 0 0;
//}
//#et_top_search {
//    display: inline-block;
//    position: relative;
//    width: 18px;
//}
////#et_search_icon::before {
////    position: absolute;
////    top: -3px;
////    left: 0;
////    font-size: 17px;
////    font-size: 1.0625rem;
////    content: "\55";
////}
//.mobile_nav .select_page {
//    display: none;
//}
//.et_header_style_split .mobile_menu_bar, .et_header_style_left .mobile_menu_bar {
//    padding-bottom: 24px;
//}
//  .et_header_style_left .logo_container {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//}
//.mobile_menu_bar {
//    display: block;
//    position: relative;
//    line-height: 0.0;
//}
//.mobile_menu_bar::before{
//  color: #4db3b3;
//  position: relative;
//  top: 0;
//  left: 0;
//  font-size: 32px;
//  font-size: 2rem;
//  content: "\61";
//  cursor: pointer;
//  font-family: "ETmodules" !important;
//  font-weight: normal;
//  font-style: normal;
//  font-variant: normal;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  line-height: 1.0;
//  text-transform: none;
//  speak: none;
//}
//#mobile_menu{
//  display: none;
//}
//.et-search-form, .nav li ul, .et_mobile_menu, .et_pb_pricing li::before, blockquote {
//    border-color: transparent !important;
//}
//.et_mobile_menu {
//    display: none;
//    visibility: visible;
//    position: absolute;
//    z-index: 9999;
//    left: 0;
//    width: 100%;
//    padding: 5%;
//    border-top: 3px solid #2ea3f2;
//    opacity: 1;
//    background: #fff;
//    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//}
//.et_mobile_menu li a {
//    display: block;
//    padding: 10px 5%;
//    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
//    color: #666;
//}
//.nav li li a, .et_mobile_menu li a {
//    font-size: 14px;
//    font-size: 0.875rem;
//    -webkit-transition: all 0.2s ease-in-out;
//    -moz-transition: all 0.2s ease-in-out;
//    transition: all 0.2s ease-in-out;
//}
//.et_mobile_menu li li {
//    padding-left: 5%;
//}
//.et_search_outer {
//    overflow: hidden;
//    position: absolute;
//    top: 0;
//    width: 100%;
//}
//
//
//@media screen and (max-width: 981px){
//  #et-info-phone {
//  text-decoration: underline;
//  }
//  .desktopimg {
//    position: relative;
//    top: 0px;
//  }
//  .mobilelink {
//    display: inline-block !important;
//    position: relative;
//    top: -7px;
//    left: 8px;
//  }
//}
//
//@media all and (max-width: 981px){
//  #main-header, #top-header {
//    -webkit-transition: none;
//    -moz-transition: none;
//    transition: none;
//  }
//  #et-info {
//    padding-top: 0.75em;
//}
//  #et-info-phone {
//    top: 3px !important;
//    float: right !important;
//    padding-left: 30px !important;
//    margin-right: 13px;
//}
//  #et-info-phone, #et-info-email, .et-cart-info span {
//    position: relative;
//}
//  
//  #et-info-phone, #et-secondary-menu#et-cart-info{
//    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
//    line-height: 1.0;
//  }
//  #et-secondary-nav, #et-secondary-menu {
//    display: none !important;
//  }
//  #logo, .logo_container, #main-header, .container, #et-top-navigation {
//    -webkit-transition: none;
//    -moz-transition: none;
//    transition: none;
//  }
//  .et_header_style_left #logo, .et_header_style_split #logo {
//    max-width: 50%;
//  }
//  .et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_left #et-top-navigation {
//    display: block;
//    padding-top: 24px;
//  }
//  #top-menu {
//    display: none;
//  }
//  #et_search_icon::before {
//    top: 7px;
//  }
//  #et_mobile_nav_menu {
//    display: block;
//  }
//  #et_mobile_nav_menu {
//    float: right;
//  }
//
//}
//
//@media all and (max-width: 800px){
//  #et-info-phone a {
//    font-weight: 700 !important;
//    text-decoration: underline !important;
//  }
//}
//
//
//@media all and (max-width: 767px){
//  #top-header .et-cart-info {
//    margin-left: 0;
//  }
//  #et-info, #et-secondary-menu {
//    display: block;
//    text-align: center;
//  }
//  .et_secondary_nav_two_panels #et-secondary-menu {
//    margin-top: 12px;
//  }
//}
//
//
//@media all and (max-width: 479px){
//  #et-top-navigation {
//    margin-right: 0;
//  }
//}



/*-----------RESPONSIVE DESIGN-------------*/

@media screen and (max-width: 767px){

//MOBILE STYLES
  .hidden-mobile {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
//GRID & CONTAINERS (MOBILE)
  .mobile-container{
    width: 80%;
    margin: 0 auto;
  }
}


//TABLET STYLES

@media screen and (min-width: 768px) and (max-width: 979px){
  .hidden-tablet {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  //GRID & CONTAINERS (TABLET)
  .full-tablet{
  width: 80%;
  max-width: 780px;
//  max-width: 1273px;
  margin: 0 auto;
  }

  .half-tablet{
    width: 48%;
    margin: auto 1%;
//    max-width: 600px;
    float: left;
  }

  .third-tablet{
    width: 31.3%;
//    max-width: 400px;
    margin: auto 1%;
    float: left;
  }

  .fourth-tablet{
    width: 23%;
//    max-width: 300px;
    margin: auto 1%;
    float: left;
  }


/*-----------PRODUCTS SECTION (TABLET)-------------*/

  #products{
    h3{
      max-width: 150px;
    }
    .product-1, .product-2, .product-3{
      margin: 5% 1%;
    }
  }
 
/*-----------HIGHLIGHTED CONTENT SECTION (TABLET)-------------*/
  #highlighted-content{
    margin:5% 0;
    padding: 0;
    
    .highlighted-content-1{
      img{
        width: 90%;
      }
      a{
        margin:1% 2.5%;
        padding: 2%;
        width: 25%;
      }
    }

    .highlighted-content-2, .highlighted-content-3, .highlighted-content-4{
      a{
        display: inline-block;
        margin-top: 0;
      }
      img{
        width: 75%;
        margin: 0 auto;
        padding-bottom: 5%;
      }
    }

    .highlighted-content-4{
      padding-bottom: 2%;
    }
    .purple-hr{
      margin: 5% 0;
    }

  }
/*-----------REVIEWS SECTION (TABLET)-------------*/

  #reviews{
    h2{
      padding: 5% 0 0 0;
    }

    .testimonial{
      position: relative;
      margin-bottom: 0;
    }
  }

/*-----------COMMON LINKS SECTION (TABLET)-------------*/

  #common-links{
    .common-links-1, .common-links-2, .common-links-3, .common-links-4{
      padding: 5% 0%;
    }
  }

/*-------------FOOTER (TABLET)---------------*/

  footer{

    #footer-badges{
//      margin: 2%;
//      margin-bottom: 1%;
    }
    .social-container{
      text-align:left;
      margin-bottom: 0;

      img{
        width:15%;
        padding: 0 1%;
        max-width: 50px;
      }
    }

    .secure-badges{
//      text-align: center;
      img{
        max-width: 60%;
      }
    }
  }
  
  
}

//DESKTOP STYLES

@media screen and (min-width: 980px){
  html{
    font-size: 14px;
  }
  .hidden-desktop {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
 
//GRID & CONTAINERS (DESKTOP)
  .full-width{
  width: 80%;
  max-width: 1273px;
  margin: 0 auto;
  }

  .half-width{
    width: 48%;
    margin: auto 1%;
    max-width: 600px;
    float: left;
  }

  .third-width{
    width: 31.3%;
    max-width: 400px;
    margin: auto 1%;
    float: left;
  }

  .fourth-width{
    width: 23%;
    max-width: 300px;
    margin: auto 1%;
    float: left;
  }
  .flex-wrapper{
    display: flex;
    padding: 2rem;
  }

  
  
/*-----------HERO SECTION (DESKTOP)-------------*/
  #hero{
    background-image: url(../img/home-header-en.png);
    background-repeat: no-repeat;
    background-size:cover;
//    width:100%;
    min-height: 300px;
    position: relative;

    .hero-text{
      text-align: left;
      text-indent: 10px;
      margin: 0;
      position: absolute;
      top: 20%;
      right: 5%;
//      float: right;
      h1{
        text-align: left;
      }
    }
  }
/*-----------VAGINISMUS BANNER (DESKTOP)-------------*/

  .vaginismus-banner{
    height: 48px;
    height: 3rem;
    h3, a{
      display: inline;
      line-height: 48px;
      line-height: 3rem;
    }
  }
/*-----------PRODUCTS SECTION (DESKTOP)-------------*/

  #products{
    h3{
      max-width: 200px;
    }
    .product-1, .product-2, .product-3{
      margin: 5% 0;
    }
  }
/*-----------WHAT IS SECTION (DESKTOP-------------*/
#what-is-vaginismus{

  
  .blurb{
    padding: 5% 0 7%;
  }


}

/*-----------HIGHLIGHTED CONTENT SECTION (DESKTOP)-------------*/

  #highlighted-content{
    text-align: left;
    padding: 0;
    
    .purple-hr{
      margin: 0;
    }
    
    .hc-text{
      margin: 5% 0;
    }
    
    .highlighted-content-2, .highlighted-content-3, .highlighted-content-4{
      a{
        display: inline-block;
      }
    }

    .highlighted-content-1{
      background-image: url(../img/books-stacked.jpg);
      background-repeat: no-repeat;
      background-size:100%;

      .btn-container{
        text-align: center;
        padding-top: 2%;
      }
      .btn-row{
        width: 80%;
      }

      a{
        text-align: left;
        padding: 2% 8%;
        margin: 1%;
      }
    }
    .highlighted-content-2{
      background-image: url(../img/bg-community-desktop.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .highlighted-content-3{
      background-image: url(../img/Vaginal-Atrophy-new2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .highlighted-content-4{
      background-image: url(../img/bg-stories1.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .highlighted-content-2 .hc-text, .highlighted-content-4 .hc-text{
      float: right;
    }
    
  }
  /*-----------REVIEWS SECTION (DESKTOP)-------------*/

#reviews{

  h2{
    padding: 5% 0 0 0;
  }

  .testimonial{
    margin: 15% 0 0;
  }

  .quotes{
    position: absolute;
    top: -13px;
    left: 45%;
    z-index: 999;
    width: 24px;
  }

}
/*-----------COMMON LINKS SECTION (DESKTOP)-------------*/

  #common-links{

    .common-links-1, .common-links-2, .common-links-3, .common-links-4{
      padding: 10% 0;
    }

  }
/*-------------FOOTER (DESKTOP)---------------*/

  footer{

    #footer-badges{
      margin-bottom: 1%;
    }
    .social-container{
      text-align:left;
      margin-bottom: 0;

      img{
        width:15%;
        padding: 0 1%;
        max-width: 50px;
      }
    }

    .secure-badges{
      text-align: right;
      img{
        max-width: 55%;
      }
    }

    #footer-menu{
      li{
        display: inline-block;
        padding: 0.5% 1%;
      }
      a{
        font-size:14px;
        font-size: 0.875rem;
      }
    }

    #copyright{
      img{
        width: 20%;
        max-width: 50px;
        margin-top: 1rem;
      }
      p{
        margin: 1rem;
        font-size:12px;
        font-size: 0.75rem;
      }
    }
  }

  
  
}
