// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

%button {
//  display: inline-block;
//    font-size: $button-font-size;
//    font-weight: bold;
//    text-transform: uppercase;
//  border-width: 1px;
//  border-radius: 5px;
//  border-style: solid;
  font-family: $accent-font-common;
  text-decoration: none;
  padding: 0.25rem 1rem;
  -webkit-box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.1);
  border-radius: 3px;
  &:hover{
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
}

.white-btn {
  @extend %button;
  @include button-theme($white);
}

.dark-btn {
  @extend %button;
  @include button-theme($dark-gray-text);
}



.shaded-btn {
  @extend %button;
  @include button-theme($dark-gray-text, $dark-gray-text, $light-gray-background);
  border:none;
}

.brand-btn{
  @extend %button;
  @include button-theme($brand);
}

//English Redesign Only
.gray-btn {
  @extend %button;
  @include button-theme($dark-gray-text, $light-gray-border);
}
