// -----------------------------------------------------------------------------
// This file contains all styles related to the floating text box, call-out, testimonial and did you know components.
// -----------------------------------------------------------------------------


.call-out{
  margin: 1rem 0;
  border-bottom: 4px solid $brand;
  border-top: 4px solid $brand;
  padding: 5%;
  p{
    @include font-size(20px);
    font-family: $sans;
    font-weight: 300;
    word-wrap: break-word;
  }
}

//TESTIMONIALS aka-QUOTE BOXES

  .testimonial{
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    background:white;
    position: relative;
    p{
      line-height: 1.2;
    }
  }
  .testimonial-text{
    padding: 5% 2%;
  }
  .quotes{
    position: absolute;
    top: -15px;
    left: 45%;
    z-index: 999;
    width: 32px;
  }


//DID YOU KNOW LIGHT BULB BOXES

.did-you-know{
  background: $light-gray-background;
  text-align: center;
  width: 90%;
  margin: 1.5rem auto;
  padding: 1rem;
  img{
    max-width: 6rem;
    margin: 1.5rem;
  }
  h3{
    color: $dark-gray-text;
    font-family: $accent-font-common;
    font-weight: 500;
    @include font-size(22px);
    padding-bottom: 0;
  }
  p{
    @include font-size(16px);
    font-weight: 500;
    padding: 0.25rem 1rem 1rem;
  }
  a{
    @include font-size(16px);
    font-weight: 600;
  }
//MOBILE ONLY
  @media screen and (max-width: 767.99px){
    width: 100%;
    padding: 0.5rem;
  }
  
}

//English ReDesign Only
.floating-text-box{
  
}

