//// -----------------------------------------------------------------------------
//// This file contains all styles related to the product pre-footer component.
//// -----------------------------------------------------------------------------
.buy-product{
  .purchase{
    h3{
      color: $brand;
    }
    h4{
      font-weight: 500;
    }
    .product-price{
      @include font-size(40px);
      color: $brand;
      padding-bottom: 0;
      span{
        @include font-size(16px);
      }
    }
    .product-price-caption{
      color: $light-gray-text;
      opacity: 0.7;
      padding: 0 0 1.5rem 0;
    }
    .max-75{
      max-width:75%;
      margin: 0 auto;
      display: block;
    }
    @media screen and (min-width: $breakpoint-medium){
      h3,h4{
        text-align: left;
      }
    }
    @media screen and (max-width: 767.99px){
      text-align: center;
    }
    @media screen and (min-width: 1100px){
      .max-75-text{
        margin-top: 2rem;
      }
    }
  }
  
  .product-pre-footer{
    .large-8, .large-4{
      padding: 1rem 0.5rem;
    }
    .badge-box{
      background: $light-gray-background;
      padding: 1rem;
      text-align: center;
      min-height: 16rem;
      -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      ul{
        padding: 0.75rem 0 0;
      }
      li{
        padding: 0 0 0.75rem;
      }
    }
    .ordering li{
      list-style: none;
    }
    .service ul{
      padding-bottom: 1.25rem;
    }
    .service ul li{
      list-style-position: inside;
    }
    @media screen and (min-width: $breakpoint-medium){
      .badge-box{
        min-height:19rem;
        h3{
          font-size: 21px;
        }
      }
      .service ul{
        text-align: left;
      }
      .service a{
        padding: 0.25rem 0.5rem;
      }
    }
    @media screen and (min-width: $breakpoint-large){
      .badge-box h3{
          font-size: 22px;
        }
      }
  }
}


