// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------


/*-------------FOOTER---------------*/
footer{
  text-align: center;

  hr{
    margin-bottom: 0.5rem;
  }
//footer nav
  label {
    @include font-size(16px);
    color: $dark-gray-text;
    font-weight: 600;
    img{
      vertical-align: text-bottom;
      padding-right: 0.5rem;
    }
  }
  .footer-label-content > ul > li > a{
    color: $light-gray-text;
    @include font-size(16px);
  }

//footer badges
    #footer-badges{

    li{
      display:inline;
    }
    img{
      width:15%;
      padding: 1% 0.5%;
      max-width: 40px;
      }
    a{
      opacity: 0.8;
      &:hover{
        opacity: 1.0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  #copyright p{
    @include font-size(12px);
  }
  
/*----------MOBILE ONLY------------*/
  @media screen and (max-width: 767.99px){
//    .footer-nav{
//      margin-bottom: 1rem;
//    }
  /* Accordion styles */
  .tab {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    overflow: hidden;
    line-height: 1.8;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    cursor: pointer;
  }
    
  .footer-label-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .footer-label-content > ul > li > a{
    line-height: 1.8;
  }


  /* :checked */
  input:checked ~ .footer-label-content {
    max-height: 10em;
  }
  input:checked ~ label,
  input:checked ~ label::after {
    color: $brand;
  }


  input[type=radio] + label::after {
    margin-left: 0.5rem;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: .75em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    vertical-align:text-top;
    width: .75em;
    color: $dark-gray-text;
    left: 0;
    transform: rotate(45deg);
    transition: transform 0.25s linear;
  }

  input[type=radio]:checked + label::after {
    transform: rotate(135deg);
    color: $brand;
  }
  #footer-badges{
    padding-top: 1rem;
  }

  }
  
/*--------------TABLET AND UP----------------*/
  @media screen and (min-width: $breakpoint-medium){
    text-align: left;
    .tab {
      padding-top: 0;
    }
    input{
      display: none;
    }
    label{
      @include font-size(14px);
    }
    .footer-label-content > ul > li > a{
      @include font-size(14px);
      &:hover{
        color: $brand;
        transition: 0.1s linear;
      }
    }
    #footer-badges{
      text-align: center;
    }
  }
  



  
  
  
  
}