// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site.
// -----------------------------------------------------------------------------

/*-------------SIDEBAR---------------*/

aside{
  h2{
    @include font-size(26px);
    margin: 0 0 1rem 0;
    font-weight: 600;
  }
  a{
    color: $light-gray-text;
//    @include font-size(20px);
    font-weight: 600;
    font-family: $sans;
  }
  
  i, .active{
    color: $brand;
  }
  i:before{
    font-size: 16px;
  }
  ul li{
    list-style: none;
    padding-bottom: 1rem;
    margin-left: 1rem;
  }
  .shaded-btn{
    border-radius: 0;
    padding: 1rem;
    @include font-size(16px);
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  
//For Press and Blog Pages
  img{
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  .sidebar-img{
    text-align: center;
    a{
      @include font-size(16px);
    }
  }
//TABLET
  @media screen and (min-width:$breakpoint-medium){
//For Press and Blog Pages
    img{
      max-width: 250px;
    }
  }
    
//DESKTOP
  @media screen and (min-width:$breakpoint-large){
    margin-top: 3rem;
    
    ul li{
      margin-left: 0;
    }
    h2{
      margin: 3rem 0 1rem 0;
    }
//For Press and Blog Pages
    img{
      max-width: 150px;
    }
    
  }
}
//to make the long sidebar have a border when the section is short
@media screen and (min-width:$breakpoint-large){
  .long-side aside{
    border-left: 2px solid $light-gray-background;
  }
}
