// -----------------------------------------------------------------------------
// This file contains all styles related to the banner-image component.
// -----------------------------------------------------------------------------

.banner-image, .top-banner-image{
  background-repeat: no-repeat;
  background-size: 100%;
  width:100%;
}