// -----------------------------------------------------------------------------
// This file contains all styles related to the call-out component.
// -----------------------------------------------------------------------------

.call-out{
  border-bottom: 4px solid $brand;
  border-top: 4px solid $brand;
  padding: 5%;
  p{
    @include font-size(20px);
    font-family: $sans;
    font-weight: 300;
    word-wrap: break-word;
  }
}

.did-you-know{
  
}