// -----------------------------------------------------------------------------
// This file contains styles that are specific to the faq page.
// -----------------------------------------------------------------------------



#faq{
  p{
//      @include font-size(16px);
      margin: 0 0.5rem;
    }
  
/*---------HERO---------------*/
  .faq-index{
    text-align: center;
    h1, a{
    color: $white;
    }
//    h1{
////      @include font-size(26px);
//    }
//    a{
////      @include font-size(22px);
//    }
    img{
      width: 5rem;
    }
//    h2{
//      @include font-size(24px);
//    }

//DESKTOP
  @media screen and (min-width: $breakpoint-large){
    h1{
//      @include font-size(36px);
      padding-top: 1rem;
    }
    p{
      padding-bottom: 1rem;
    }
  }
    
  }
  
/*---------MAIN---------------*/
  main{
    
    #general-faq .large-8, #dilator-faq .large-8, #customer-service-faq .large-8{
      float: right;
    }
    #general-faq, #dilator-faq, #pregnancy-faq{
      h2{
        padding-bottom: 1rem;
      }
    }
    ul{
      margin-left: 5%;
    }
    li{
    list-style: disc;
    padding-bottom: 1rem;
    }
    #general-faq{
      background-image:url(../img/faq/faq-general.jpg);
    }
    #treatment-faq{
      background-image: url(../img/faq/faq-treatment.jpg);
      .large-6:first-child{
        padding-bottom:0;
      }
      .large-6:last-child{
        padding-top:0;
      }
    }
    #dilator-faq{
      background-image: url(../img/faq/faq-dilator.jpg);
    }
    #pregnancy-faq{
      background-image: url(../img/faq/faq-pregnancy.jpg);
    }
    #customer-service-faq{
      background-image: url(../img/faq/faq-customer.jpg);
      .large-6:first-child{
        padding-bottom:0;
      }
      .large-6:last-child{
        padding-top:0;
      }
      ul{
        margin-left: 2.5%;
      }
    }
    #brochures{
      background-image: url(../img/faq/faq-brochures.jpg);
      .brochure-download{
        padding: 1rem;
        display:block;
      }
    }
    
    
//TABLET
  @media screen and (min-width: 768px){
    #customer-service-faq{
      .large-6:first-child{
        padding-bottom:1rem;
        padding-top: 0;
      }
    }
  }
    
//DESKTOP
    @media screen and (min-width: 980px){
      a{
//        @include font-size(20px);
      }
      #general-faq{
        background-image:url(../img/faq/faq-general.jpg);
        h2{
          text-align: left;
        }
      }
      #treatment-faq{
        background-image: url(../img/faq/faq-treatment.jpg);
        .large-6:first-child{
          padding-bottom:1rem;
        }
        .large-6:last-child{
          padding-top:1rem;
        }
      }
      #dilator-faq{
        background-image: url(../img/faq/faq-dilator.jpg);
        h2{
          text-align: left;
        }
      }
      #pregnancy-faq{
        background-image: url(../img/faq/faq-pregnancy.jpg);
        h2{
          text-align: left;
        }
      }
      #customer-service-faq{
        background-image: url(../img/faq/faq-customer.jpg);
        h2{
        }
      }
      #brochures{
        background-image: url(../img/faq/faq-brochures.jpg);
        .brochure-download{
          padding: 1rem;
          display:inline-block;
        }
      }
    }
  }
  
  
}