// -----------------------------------------------------------------------------
// This file contains styles that are specific to the resources page.
// -----------------------------------------------------------------------------
#resources{
  

/*---------HERO---------------*/
  
  .hero-banner-image{
    background: $light-gray-background;
    @media screen and (min-width: $breakpoint-medium){
      background-image: url(../img/resources/resources-hero.jpg);
      .hero-text{
        background: $white-opaque;
        padding: 1rem;
      }
    }
  }

    
  
  
/*---------MAIN---------------*/
  #resource-links{
    ul li{
      list-style: disc;
      padding: 1rem 0;
    }
//MOBILE ONLY
    @media screen and (max-width: $breakpoint-large){
      h2{
        text-align: left;
      }
    }
//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      ul li{
        padding: 0.5rem 0;
      }
    }
  }


}