// -----------------------------------------------------------------------------
// This file contains styles that are specific to the resources page.
// -----------------------------------------------------------------------------
#resources{
  

/*---------HERO---------------*/
  #hero{
    background-image: url(../img/resources/resources-hero.jpg);
    .hero-text-right{
      background: $white-opaque;
      padding: 1rem;
      h3{
        @include font-size(22px);
      }
      
    }
//MOBILE ONLY
    @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large){
      .hero-text-right{
        width:100%;
        float: none;
      }
    }
  }
  
/*---------MAIN---------------*/
  #resource-links{
    ul li{
      list-style: disc;
      padding: 1rem 0;
    }
//MOBILE ONLY
    @media screen and (max-width: $breakpoint-large){
      h2{
        text-align: left;
      }
    }
//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      ul li{
        padding: 0.5rem 0;
      }
    }
  }


}