// -----------------------------------------------------------------------------
// This file contains styles that are specific to the search and 404 pages.
// -----------------------------------------------------------------------------
.search-page{

}

.search-page, .page-404{

  h1{
    padding: 3rem 0;
  }

  #site-map{
    z-index: 999;
    h2, h3, a{
      text-align: left;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }
    h2{
      @include font-size(22px);
    }
    h3{
      @include font-size(18px);
    }
  }
  
}