// -----------------------------------------------------------------------------
// This file contains styles that are specific to the search and 404 pages.
// -----------------------------------------------------------------------------


.search-page, .page-404{


  #site-map{
    @media screen and (max-width: $breakpoint-medium){
      [class*='large-'], [class*='medium-'] {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    h1{
      padding-top: 1.5rem;
    }

    h2, h3, h4{
      text-align: left;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0.5rem;
      font-family: $accent-font-common;
      
    }
    a{
      font-weight: 400;
      color: $light-gray-text;
    }
    p{
      text-align: center;
    }
    
    ul{
      padding-left: 15px;
      li{
        margin-left: 15px;
        text-indent: -15px;
      }
    }
    i{
      font-size: 14px;
      color: $brand;
      &:before{
        margin-right: 0;
      }
    }

    #site-map-resources, #site-map-faq, #site-map-languages{
      margin-top: 2rem;
    }
    #site-map-home h1, #site-map-resources h2, #site-map-faq h2, #site-map-languages h2{
      text-align: left;
      font-family: $accent-font-common;
      text-transform: uppercase;
      a{
        font-size: 1.75rem;
      }
      img{
        transform: rotate(-90deg);
        max-width: 2rem;
        vertical-align: text-bottom;
      }

    }
    
    #site-map-home h2, #site-map-resources h3, #site-map-faq h3, #site-map-languages h3{
      text-transform:uppercase;
      a{
        font-weight: 600;
      }
    }
    .site-map-cust-faq, .site-map-preg-faq, .site-map-treat-faq{
      margin-top: 1rem;
    }
    .large-10{
      float: none;
      clear: both;
      margin: 0 auto;
      h3{
        text-align: center;
      }
    }
    

  }
}
  