// -----------------------------------------------------------------------------
// This file contains styles that are specific to the stories page.
// -----------------------------------------------------------------------------

#stories{

  main{
    section{
      -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    }
    
    img{
      display: block;
      margin:0 auto;
      width: 100%;
    }
    h3{
      @include font-size(24px);
      font-weight: bold;
      font-style: italic;
      text-align: left;
      color: $dark-gray-text;
      padding-top: 0.5rem;
    }
    h4{
      @include font-size(22px);
      font-style: italic;
      text-align: left;
      font-weight: normal;
      color: $dark-gray-text;
      padding-bottom: 0.25rem;
    }
    
/*---------HERO---------------*/

    .hero-banner-image{
      background: $light-gray-background;
      h3{
        @include font-size(22px);
      }
    }
//TABLET ONLY
    @media screen and (min-width: $breakpoint-medium) and (max-width: 979px){
      background: url(../img/stories/stories-hero-tablet.jpg);
      background-size: cover;
        background-repeat: no-repeat;
//      .hero-text{
//        background: $white-opaque;
//        padding: 1rem;
//      }
    }
//TABLET
    .hero-banner-image{
      @media screen and (min-width: $breakpoint-medium){
        background: url(../img/stories/stories-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        .hero-text{
          text-align: center;
        }
      }
//DESKTOP
      @media screen and (min-width: $breakpoint-large){
        background-position: right;
      }
    }

 
    
//end main
  }
//end page
}
        
  




  
    
  
