// -----------------------------------------------------------------------------
// This file contains styles that are specific to the symptoms page.
// -----------------------------------------------------------------------------


#symptoms{

/*---------HERO---------------*/
  .hero-banner-image{
    background: url(../img/symptoms/symptoms-header-mobile-en.jpg);
    padding: 5%;
    background-size: cover;
    background-repeat: no-repeat;

//TABLET
    @media screen and (min-width: 768px){
      background: url(../img/symptoms/symptoms-header-en.jpg);
      padding: 5%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  #primary-secondary{
    background: url(../../img/v-background.jpg) no-repeat;
    background-size: 100%;
  }
  
  
}
  

  
    
  
