// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------
#contact-us {
  .grad1 a {
    text-decoration: underline;
  }
  .grad1 {
    padding-bottom: 2rem;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  /*---------HERO---------------*/
  .hero-banner-image {
    background: $light-gray-background;
    background-size: cover;
    background-repeat: no-repeat;
    //      background-position: left;
    padding: 2% 0;
    //TABLET ONLY
    @media screen and (min-width: $breakpoint-medium) and (max-width: 979px) {
      background: url(/img/contact-us/contact-us-hero-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .hero-text {
        width: 100%;
        background: $white-opaque;
        padding: 0 1rem 0.5rem;
      }
    }
    //DESKTOP ONLY
    @media screen and (min-width: $breakpoint-large) {
      background: url(/img/contact-us/contact-us.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      //      padding: 0;
      //      min-height: 25rem;
      .hero-text {
        background: $white-opaque;
        padding: 0 1rem 0.5rem;
        width: 60%;
      }
    }
  }
  .contact-options {
    text-align: center;
    //    h2{
    //    color: $light-gray-text;
    //    }
    img {
      width: 5rem;
    }
  }
}
