// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#home{

/*---------HERO---------------*/
.hero-banner-image{

//  background-image: url("/img/home/home-header-mobile.jpg");
  h1{
    font-family: $accent-font-rare;
//    line-height: 1.3;
//    @include font-size(28px);
    padding-bottom: 0.5rem;
  }
  
  .icon-check:before{
    @include font-size(18px);
  }

//MOBILE ONLY
  @media screen and (max-width: 767.99px){
    img{
      margin-bottom: 0
    }
    .hero-text-right{
      padding-top: 0.5rem;
    }
  }

//TABLET ONLY
//  @media screen and (min-width: $breakpoint-medium) and (max-width: 979px){
//    background-image: url("/img/home/home-header-en.jpg");
//    background-position: bottom;
//  }

//TABLET AND UP
  @media screen and (min-width: $breakpoint-medium){
    background-image: url(/img/home/home-header-en.jpg);
    background-position: right;
    background-size: cover;
    .hero-text{
//       width: 45%;
//      i{
//        padding-right: 10px;
//      }
      h1{
        text-align: left;
//        @include font-size(30px);
      }
      li{
        line-height: 1.5;
        padding-left: 20px;
        text-indent: -20px;
//        @include font-size(17px);
      }

    }
  }
}
/*-----------VAGINISMUS BANNER-------------*/

.vaginismus-banner{
  background-color: $brand;
  text-align: center;
  color: $white;
  height: 5rem;
  h3{
    padding: 0.5rem;
  }
  a{
    padding: 0.25rem 1rem;
  }
  //MOBILE ONLY
  @media screen and (max-width: 767.99px){
    margin-top: -0.5rem;
  }
}
//TABLET
@media screen and (min-width: $breakpoint-medium){
  .vaginismus-banner{
    height: 48px;
    height: 3rem;
    h3, a{
      display: inline;
      line-height: 48px;
      line-height: 3rem;
    }
  }
}


/*-----------PRODUCTS SECTION-------------*/

#products{
  text-align: center;
  img{
//    max-width: 80%;
  }
  h3{
    max-width: 400px;
    color: $light-gray-text;
  }
  a{
    text-decoration: none;
    font-family: $accent-font-common;
  }
//TABLET
  @media screen and (min-width: $breakpoint-medium){
//    h3{
////      max-width: 160px;
////      @include font-size(15.2px);
//    }
    img{
      max-width: 100%;
    }
  }
  //DESKTOP
//  @media screen and (min-width: 980px){
////    h3{
////      max-width: 250px;
////    }
//  }
}



/*-----------WHAT IS SECTION-------------*/
#what-is-vaginismus{
  text-align: center;
  color: $white;

  h3{
    font-weight: 600;

  }
  img{
    width: 30%;
    max-width: 5rem;
  }
    p{
    padding-bottom: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
  }
  a{
    color: $white;
    text-decoration: underline;
  }
//TABLET
  @media screen and (min-width: $breakpoint-medium){
    padding: 1rem 0;
  }
//DESKTOP
  @media screen and (min-width: $breakpoint-large){
    #what-is-vaginismus{
      img{
        width: 50%;
        max-width: 8rem;
      }
    }
  }
}

/*-----------HIGHLIGHTED CONTENT SECTION-------------*/
#highlighted-content{
  text-align: center;
  padding: 0;
  h2{
    color: $dark-gray-text;
//    @include font-size(24px);
  }
  h3{
    color: $dark-gray-text;
//    @include font-size(20px);
  }
  img{
    padding-bottom: 10%;
  }

}
.highlighted-content-1{
  a{
    padding: 4%;
    display: inline-block;
    width: 40%;
    margin: 0.5rem 0.25rem;
  }
}
  //MOBILE & TABLET ONLY
  @media screen and (max-width: 979.99px){
      .highlighted-content-1, .highlighted-content-2, .highlighted-content-3{
      -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
      padding-bottom: 1rem;
    }
  }

//TABLET
@media screen and (min-width: $breakpoint-medium){
  #highlighted-content{
    
    img{
      padding-bottom: 5%;
      width: 80%;
    }
    .highlighted-content-1{
      a{
        padding: 2%;
        margin: 0.5rem;
        width: 25%;
      }
    }
    .highlighted-content-2, .highlighted-content-3, .highlighted-content-4{
      a{
        display: block;
        width: 25%;
        margin: 0 auto;
        text-align: center;
      }
      p{
        padding: 0.5rem 0 1rem;
      }
    }
  }
}

//DESKTOP
@media screen and (min-width: $breakpoint-large){
  #highlighted-content{
    margin: 0;
    padding: 0;
    .large-4{
      width: 40%;
    }
    .hc-text, .hc-text h2, .hc-text h3{
      text-align: left;
    }
    .highlighted-content-1{
      background: url('/img/home/home-languages.jpg');
      background-position: right;
      background-repeat: no-repeat;
      .btn-container{
        padding-top: 2%;
      }
      .btn-row{
        display: inline;
      }
      a{
        text-align: center;
        width: 40%;
      }
    }
    .highlighted-content-2, .highlighted-content-3, .highlighted-content-4{
      min-height: 400px;
      a{
        display: inline-block;
        width: 50%;
      }
    }
    .highlighted-content-2{
      background-image: url(/img/home/home-community.jpg);
      background-position: 10% 50%;
    }
    .highlighted-content-3{
      background-image: url(/img/home/home-atrophy.jpg);
      background-position: right;
    }
    .highlighted-content-4{
      background-image: url(/img/home/home-pregnancy.jpg);
      background-position: 20% 50%;
    }
    .highlighted-content-2 .hc-text, .highlighted-content-4 .hc-text{
      float: right;
    }
  }
}

/*-----------REVIEWS SECTION-------------*/

#reviews{
  padding-bottom: 0;
  background: url(/img/white-wood-bkgd.jpg);
  background-size: cover;
  text-align: center;
  h2{
    padding-bottom: 1rem;
  }

//DESKTOP
@media screen and (min-width: $breakpoint-large){
    h2{
      @include font-size(32px);
    }
  }
}

/*-----------REVIEWS BANNER-------------*/

.reviews-banner{
  text-align: center;
  color: $white;
  line-height: 80px;
  height: 5rem;
  a{
  line-height: 80px;
  line-height: 5rem;
  }
//TABLET
  @media screen and (min-width: $breakpoint-medium){
    margin-top: 1rem;
  }
}

/*-----------COMMON LINKS SECTION-------------*/

#common-links{
  text-align: center;
  .common-links-1, .common-links-2, .common-links-3, .common-links-4{
    max-width: 275px;
    margin: 0 auto;
  }
  h4{
    padding-bottom: 5%;
  }
  li{
    text-align:left;
    list-style:disc;
  }
  a{
    color:$brand;
    text-decoration: none;
    line-height: 1.5;
  }
}
 

}

//ESPANOL & PORTUGUESE

:lang(es), :lang(pt){
  #home .hero-banner-image{
  @media screen and (min-width: $breakpoint-medium){
    background-image: url("/img/es/home-header-es.jpg");
    background-position: left;
    .hero-text{
      background: $white-opaque;
    }
    }
  }

}

//ARABIC & TURKISH
:lang(ar), :lang(tr){
  #home .hero-banner-image{
  @media screen and (min-width: $breakpoint-medium){
    background-image: url("/img/ar/home-header-ar.jpg");
    background-position: left;
    }
  }
}
//:lang(tr){
//  @media screen and (min-width: $breakpoint-medium){
//    #home{
//      .wrapper{
//        width: 100%; 
//      }
//      .hero-banner-image{
//        padding: 6% 0;
//      }
//    }
//  }
//}