// -----------------------------------------------------------------------------
// This file contains styles that are specific to all the product pages.
// -----------------------------------------------------------------------------

.product-page-english{
  section:first-child{
    padding-top:2rem;
  }
  
/*-----------HERO-------------*/
//just products page
  #hero-english{
    background: url(/img/products/products-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:1rem;
  }
  
  .hero{
    text-align: center;
    h1{
//      line-height: 1.2;
      &:after{
        @include dash($dark-gray-text);
      }
    }
    a{
//      display:inline-block;
//      margin:0 2rem 1rem;
      display: block;
      margin-bottom:1rem;
      font-family: $accent-font-common;
    }
  }
  
//Products Page

/*-----------PRODUCT PREVIEW-----------*/
  .product-preview{
    text-align: center;
    margin-bottom: 1rem;
    .large-8, .large-4{
      padding: 0;
    }
    h2{
      color: $brand;
      padding-top: 0;
    }
    p{
      padding: 0.5rem 0 1rem;
    }
    @media screen and (min-width: $breakpoint-medium){
      text-align: left;
      &:nth-child(even) .wrapper{
        display: flex;
        flex-direction: row-reverse;
      }
      &:nth-child(4) .wrapper img, &:nth-child(5) .wrapper img{
        max-width:75%;
        display: block;
        margin: 0 auto;
      }
      h2{
        text-align: left;
      }
    }
    @media screen and (min-width: $breakpoint-large){
      h2{
        margin-top:2rem;
      }
    }
  }
/*-----------MISSION BANNER-----------*/
  .grad1{
    margin: 2rem 0;
    h2{
      padding-top:0;
    }
  }
 
//4 Products Pages
  
/*-----------PRODCUT DESCRIPTION-----------*/
  .product-description{
    padding-top:0;
    h3{
      color: $brand;
    }
    h4{
      font-weight: 500;
    }
    .books, .dilators, .dvd, .handle, .graduated{
      max-width: 1000px;
      div:nth-child(2){
        padding: 1rem 0;
      }
      img{
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
      }
    }

    .dilators ul{
      margin-left: 1rem;
      li{
      list-style: disc;
    }
    }
    .handle, .graduated{
      img{
        max-width: 250px;
      }
    }
    .books .brand-btn, .complement .brand-btn{
      display: block;
      max-width: 225px;
      margin: 0 auto;
      text-align: center;
    }
    .included{
      h3{
        text-align: center;
        padding-bottom:1rem;
        color: $dark-gray-text;
      }
      a{
        display:block;
        max-width:250px;
        margin: 0 auto;
        text-align: center;
      }
    }
//TABLET
    @media screen and (min-width: $breakpoint-medium){

      .video, .forum, .handle, .graduated{
        h3,h4{
          text-align: left;
        }
      }
      .video, .handle{
        display: flex;
        flex-direction: row-reverse;
      }
      .handle, .graduated{
        div:first-child{
        padding-top: 3rem;
      }

      }
  }
//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      .books{
        display: flex;
        flex-direction: row-reverse;
        
      }
      .books img, .dilators img{
          width: 100%;
          max-width:450px;
      }
      h3,h4{
        text-align: left;
      }
      .video h3, .forum h3{
        margin-top: 1rem;
      }
      #sizing img{
        display: block;
        margin: 0 auto;
        max-width: 700px;
      }
      .books a, .graduated a{
          display: block;
          text-align: center;
        }
    }
  }
/*---------BONUS BANNER--------*/
  
  .bonus-banner{
    background: $light-gray-background;
    padding-top:1rem;
    p{
      font-size: 14px;
    }
    h4{
      font-weight: 600;
      font-size: 16px;
      margin-top:1rem;
    }
    @media screen and (max-width:767.99px){
      img{
        max-width: 400px;
        display: block;
        margin: 0 auto;
      }
    }
    
  }

  
/*---------REVIEWS SECTION--------*/
  #reviews{
    background: url(/img/white-wood-bkgd.jpg);
    h2{
      padding: 0 0 0.75rem;
    }
  }
  
  .banner-solid-gray{
    min-height:5.25rem;
    padding-top:1.9rem;
    a{
      font-size: 18px;
    }
  }
  
  
  /*---------FAQ BANNER--------*/
  .banner-solid{
    margin-bottom: 2rem;
    a{
      @media screen and (max-width: 767.99px){
        margin: 0.75rem auto;
        display: block;
        max-width: 250px;
        &:nth-child(3){
          margin-top:1.5rem;
        }
      }
      @media screen and (min-width: $breakpoint-medium){
        display: inline;
        margin-bottom: 0.5rem;
        &:nth-child(2){
          margin-right: 1.5rem;
        }
      }
    }
  }

//carousel
  .slick-dots{
    bottom: -35px;
  }
  @media screen and (min-width: $breakpoint-medium){
    .img-carousel img{
      transform: scale(0.65);
      transition:all .6s ease-in-out;
    }
    .slick-center img{
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
    }
  }
  
//Psuedo Carousel on Books Page
//  @media screen and (max-width:767.99px){
//
//  }
//  @media screen and (min-width:$breakpoint-medium){
//    .img-wrap-section{
//      height:20rem;
//    }
//    .img-wrap{
//      width: 100%;
//      display: flex;
//      justify-content: space-between;
//    }
//  //  img{
//  //    width: 100%;
//  //    height: auto;
//  //  }
//    .img-1, .img-2, .img-3{
//      flex-basis: 33%;
//      height: auto;
//      align-self: center;
//      img{
//        width: 75%;
//        display: block;
//        margin: 0 auto;
//        transition: width 0.25s ease-in-out;
//      }
//      &:hover, &:target{
////        flex-basis: 35%;
//      }
//    }
//    .img-2 img{
////      flex-grow: 2;
//      width: 100%;
//    }
//    .img-1, .img-2, .img-3{
//      &:hover, &:target{
//        img{
//          width: 100%;
//        }
////        flex-basis: 35%;
////        flex-grow: 2;
//      }
//    }
//  }
//  @media screen and (min-width:$breakpoint-large){
//    .img-wrap-section{
//      height:24rem;
//      .wrapper{
//        max-width:1000px;
//      }
//    }
//  }
//  @media screen and (min-width:1100px){
//    .img-wrap-section{
//      height:29rem;
//    }
//  }
  

}