// -----------------------------------------------------------------------------
// This file contains styles that are specific to the resources page.
// -----------------------------------------------------------------------------
#resources{
  

/*---------HERO---------------*/
  
  .hero-banner-image{
    background: $light-gray-background;
//    @media screen and (min-width: $breakpoint-medium){
//      background-image: url(/img/resources/resources-hero.jpg);
//      .hero-text{
//        background: $white-opaque;
//        padding: 0 1rem 0.5rem;
//      }
//    }
    
      //TABLET AND ABOVE
    @media screen and (min-width: $breakpoint-medium){
      background: url(/img/resources/resources-hero.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .hero-text{
        width: 100%;
        background: $white-opaque;
        padding: 0 1rem 0.5rem;
      }
    }
      //TABLET ONLY
//    @media screen and (min-width: $breakpoint-medium) and (max-width: 979px){
//      
//      .hero-text{
//        width: 100%;
//        background: $white-opaque;
//        padding: 0 1rem 0.5rem;
//      }
//    }
      //DESKTOP ONLY

    @media screen and (min-width: $breakpoint-large){
//      background: url(/img/resources/resources-hero.jpg);
//      background-size:cover;
//      background-repeat: no-repeat;
//      background-position: left;
//      padding: 0;
//      min-height: 25rem;
      padding: 5%;
      .hero-text{
//        background: $white-opaque;
//        padding: 0 1rem 0.5rem;
        width: 60%;
      }
    }
  }

    
  
  
/*---------MAIN---------------*/
  h2{
    @include font-size(24px);
  }
  
  #resource-links{
    ul li{
      list-style: disc;
      padding: 1rem 0;
    }
//MOBILE ONLY
    @media screen and (max-width: 979.99px){
      h2{
        text-align: left;
      }
    }
//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      ul li{
        padding: 0.5rem 0;
      }
    }
  }


}