// -----------------------------------------------------------------------------
// This file contains styles that are specific to the symptoms page.
// -----------------------------------------------------------------------------


#symptoms{
  section{
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
  }

  .grad1 a{
    text-decoration: underline;
  }
/*-------------------------------------*/

/*---------SYMPTOMS PAGE---------------*/

/*-------------------------------------*/

/*---------HERO---------------*/
  .hero-banner-image{
    background: $light-gray-background;

//TABLET
    @media screen and (min-width: 768px){
      background: url(../img/symptoms/symptoms-header-en.jpg);
//        padding: 5%;
      background-size: cover;
      background-repeat: no-repeat;
//        padding: 5% 0;
//        min-height: 25rem;
      .hero-text{
//          padding: 5% 0;
      }
    }


//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      .hero-text{
//          padding: 10% 0;
      }
    }
  }

  h2{
//      @include font-size(28px);
  }
  ul{
    padding: 1rem 0;
  //MOBILE ONLY
    @media screen and (max-width: 767.99px){
      margin-left: 1rem;
    }
  }
  ul li{
    list-style: disc;
    padding-bottom: 1rem;
//      @include font-size(18px);
  }
  figcaption{
    text-align: justify;
//      @include font-size(18px);
  }

/*---------EXAMPLES OF EFFECTS SECTION---------------*/
  #examples-effects{
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
      @media screen and (min-width: $breakpoint-large){
        width: 100%;
        max-width: 500px;
      }
    }
  }

/*---------VARIATIONS IN EXPERIENCE SECTION--------------*/
  #variations-experience{
    background: url(../img/white-wood-bkgd.jpg);
    .did-you-know, .opaque-box{
      background: $white-opaque;
      margin-top: 0;
      width: 100%;
    }
    .opaque-box{
      h2{
        padding-top: 2rem;
        padding-bottom: 0;
      }
      p{
        padding:0.25rem 2rem 0.5rem;
      }
      ul{
        padding: 0 2rem;
        margin-left: 2rem;
      }

    }
  }


/*---------INVOLUNTARY SECTION---------------*/
  #involuntary{
    padding: 0 1rem 2rem 1rem;
  }

/*---------UNCOMMATED MARRIAGES SECTION---------------*/
  #unconsummated-marriages{
    h4{
      font-weight: 400;
    }
    img{
      display: block;
      margin: 0 auto;
      max-width: 500px;
      @media screen and (min-width: $breakpoint-large){
        width: 100%;
        max-width: 500px;
      }
    }
  }

  
}

//ARABIC & TURKISH
:lang(ar), :lang(tr){
  #symptoms .hero-banner-image{
  @media screen and (min-width: $breakpoint-medium){
    background-image: url("../../img/ar/symptoms-ar.jpg");
    background-position: right;
    }
  }
}

  
    
  
