// -----------------------------------------------------------------------
// This file contains styles that are specific to the what is further support page.
// -----------------------------------------------------------------------

.treatment-english{
  
  
/*---------HERO---------------*/
#hero-english{

//TABLET
  @media screen and (min-width: $breakpoint-medium){
    background: url(/img/treatment/hero.jpg);
    background-position: center;
    background-size: cover;
    .large-8{
      margin-top: 2rem;
    }
  }
}
  
  
/*---------FAQ SECTION-------------*/
  .self-help{
    padding-top:0;
  .support-faq-general a, .support-faq-pregnancy a, .support-faq-treatment a, .support-faq-dilator a{
    display: block;
    position: relative;
    border: 1px solid $light-gray-border;
    margin: 0 auto;
    h3{
      position:absolute;
      color: $light-gray-text;
      top:35%;
      width: 100%;
      text-align: center;
     }
  }

//MOBILE ONLY
  @media screen and (max-width: 767.99px){
    .support-faq-general a, .support-faq-pregnancy a, .support-faq-treatment a,
    .support-faq-dilator a{
      max-width: 331px;
      height: 110px;
    }
    .support-faq-general a{
      background: url(/img/further-support/button-general-mobile.jpg) no-repeat left;
      background-size: auto 100%;
    }

    .support-faq-pregnancy a{
      background: url(/img/further-support/button-pregnancy-mobile.jpg) no-repeat right;
      background-size: auto 100%;
    }
      .support-faq-treatment a{
      background: url(/img/further-support/button-treatment-mobile.jpg) no-repeat left;
      background-size: auto 100%;
    }
      .support-faq-dilator a{
      background: url(/img/further-support/button-dilator-mobile.jpg) no-repeat right;
      background-size: auto 100%;
    }
  }
  
  
  
//TABLET AND UP
  
  @media screen and (min-width: $breakpoint-medium){
    .wrapper{
      max-width: 720px;
    }
    .support-faq-general a, .support-faq-pregnancy a, .support-faq-treatment a,
    .support-faq-dilator a{
      height: 150px;
      h3{
        top:39%;
      }
    }
    .support-faq-general a{
        background: url(/img/further-support/button-general.jpg) no-repeat center;
        background-size: auto 100%;
    }
    .support-faq-pregnancy a{
        background: url(/img/further-support/button-pregnancy.jpg) no-repeat center;
        background-size: auto 100%;
    }
    .support-faq-treatment a{
        background: url(/img/further-support/button-treatment.jpg) no-repeat center;
        background-size: auto 100%;
    }
    .support-faq-dilator a{
        background: url(/img/further-support/button-dilator.jpg) no-repeat center;
        background-size: auto 100%;
    }
  }
  
// DESKTOP ONLY
  @media screen and (min-width: $breakpoint-large){
    .wrapper{
      max-width: 996px;
    }
    .support-faq-general a, .support-faq-pregnancy a, .support-faq-treatment a,
    .support-faq-dilator a{
      height: 208px;
      h3{
        top:44%;
      }
    }

  }
 }
/*------RELATED CONDITIONS SECTION-----*/
    .further-related{
      background-image: url(/img/further-support/parallax-logo-green.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .wrapper{
        max-width: 700px;
      }
      h2, a{
        color:$white;
      }
      a{
        font-size: 18px;
        line-height: 1.5;
      }
    
    @media screen and (max-width:767.99px){
      a{
        line-height: 1.8;
      }
      .column-1{
        padding-bottom:0;
      }
      .column-2{
        padding-top:0;
      }
    }
  }
/*-----------PROF ASSISTANCE SECTION-------------*/

#prof-assist{
  text-align: center;
  padding-top:0;
  li{
    padding-bottom: 0.75rem;
  }

  
//TABLET AND UP
  @media screen and (min-width: $breakpoint-medium){
    .wrapper{
      position: relative;
      text-align: left;
    }
    .white-box-float{
      position: absolute;
      width: 375px;
      background: $white;
      top: 4rem;
      right: 0;
      -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
      border: 1px solid $light-gray-border;
      .text-box{
        padding: 1rem 2rem 2rem;
      }
    }
    h2{
      text-align: left;
    }
    p{
      margin-bottom:0.5rem;
    }
    img{
      width: 600px;
      float: left;
      max-width: none;
      max-height: none;
      margin: 2rem auto;
    }
  }
  
//DESKTOP ONLY
  @media screen and (min-width: $breakpoint-large){
    .white-box-float{
      top: 6rem;
    }
    p{
      margin-bottom:2rem;
    }
    img{
      width: 750px;
    }
  }
  @media screen and (min-width: 1200px){
      .wrapper{
        max-width: 1100px;
      }
      .white-box-float{
        top: 6.5rem;
        width: 350px;
      }
      img{
        width:900px;
      }
    }
}

  
/*-----------FORUM SECTION-------------*/

#further-forum{
  text-align: center;
  padding-top:0;
  .wrapper{
    position: relative;
  }
  .white-box-float{
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    border: 1px solid $light-gray-border;
    margin:-3rem auto 0;
    background: $white;
    z-index:2;
    padding: 0 0.5rem 1rem;
    max-width:450px;
    @media screen and (max-width: 767.99px){
      margin-bottom:1rem;
    }
  }
  p{
    margin-bottom:0.5rem;
  }
  
//TABLET AND UP
  @media screen and (min-width: $breakpoint-medium){
    .wrapper{
      text-align: left;
    }
    .white-box-float{
      position: absolute;
      width: 375px;
      top: 6.75rem;
      left: 0;
      .text-box{
        padding: 1rem 2rem 2rem;
      }
    }
    h2{
      text-align: left;
    }
    
    img{
      width: 600px;
      float: right;
      max-width: none;
      max-height: none;
      margin: 2rem auto;
    }
  }
  
//DESKTOP ONLY
  @media screen and (min-width: $breakpoint-large){
    .wrapper{
        max-width: 1100px;
      }
    .white-box-float{
      top: 9rem;
    }
    p{
      margin:0.5rem 0 1.5rem;
    }
    img{
      width: 750px;
    }
  }
  
  @media screen and (min-width: 1200px){
    .white-box-float{
      top: 10rem;
    }
    img{
      width:800px;
    }
  }
}
  

/*-----------CONTACT BANNER------------*/
  .banner-solid-gray{
    margin-bottom: 2rem;
  }
}


