// -----------------------------------------------------------------------
// This file contains styles that are specific to the understanding vaginismus page.
// -----------------------------------------------------------------------
  
/*---------HERO---------------*/
.understanding{
  
  #hero-english{
    a>p{
      display: inline-block;
      font-size: 20px;
      font-weight: 400;
    }

//MOBILE ONLY
    @media screen and (max-width: 767.99px){
      a>p{
        display: inline-block;
        font-size: 20px;
        padding: 0;
        font-weight: 400;
      }
      img{
        display: block;
        margin: 0 auto;
        width: 4rem;
      }
    }


//TABLET
    @media screen and (min-width: $breakpoint-medium){
      background: url(/img/understanding/hero.jpg);
      background-position: center;
      background-size: cover;
      .large-8{
        margin-top: 1rem;
      }
      img{
        display: inline;
        width: 2rem;
        vertical-align:middle;
      }
    }

//DESKTOP
    @media screen and (min-width: $breakpoint-large){
      .large-8{
        margin-top: 3rem;
      }
      a{
        font-size: 20px;
      }
      img{
        vertical-align:top;
      }
    }
  }

  
/*------------------------*/
//TABLET
    @media screen and (max-width: 979.99px){
      .img-500{
        width:100%;
        max-width: 500px;
        margin: 0 auto;
        display: block;
      }
    }
    figure{
      margin: 0;
    }
  
    .did-you-know{
  //    width: 30%;
      margin: 0;
      @media screen and (min-width: $breakpoint-medium){
        margin: 0 auto;
      }
    }
    .treatable{
      padding-top: 1rem;
    }
  

}
